
# =============== #
# Unity generated #
# =============== #
Library/
Temp/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
.vs/
*.csproj
*.sln
